@charset 'UTF-8';

@font-face {
    font-family: 'Lovely Home';
    src: url('../fonts/lovely-home.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fragment Core';
    src: url('../fonts/fragment-core.otf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a, button {
    cursor: pointer;
}

section {
    width: 100%;
    min-height: 100%;
    padding-top: 100px;
}

.subtitle {
    max-width: 500px;
    text-align: center;
}

.small-separator {
    border: solid white 3px;
    border-radius: 20px;
    max-width: 100px;
}

.small-separator.blue {
    border-color: #337ab7;
}

.btn-rounded {
    display: block;
    padding: 10px 20px;
    width: 250px;
    color: #337ab7 !important;
    border: solid #337ab7 2px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none !important;
    font-size: 15px;
    background-color: transparent;
}

.btn-rounded:hover {
    font-weight: bold;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    width: 200px;
    margin-bottom: 20px;
}

.color-white {
    color: white !important;
}

#app_title {
    font-family: 'Lovely Home', Arial, sans-serif;
    font-size: 50px;
}

#random_number {
    color: white;
    font-size: 5em;
    margin-bottom: 20px;
}

#generate_button {
    margin-bottom: 20px;
    border-color: white;
    color: white !important;
}

#poisson_process_simulation_button {
    margin-bottom: 20px;
}

#poisson_process_chart_container {
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#lets_go_button {
    margin-top: 30px;
}

#app_footer {
    border-top: solid grey 1px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 50px;
}
